.exercice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0.95);
  color: white;

  &-title {
    text-align: center;
    font-size: 3rem;
  }

  &-disc {
    transition: transform 5s ease, background-color 5s ease;
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 2.5rem);
    top: calc(50% - 2.5rem);
    background-color: coral;

    // création de deux états: inspirez/ respirez
    &--in {
      background-color: coral;
      transform: scale(2);
    }

    &--out {
      background-color: deeppink;
      transform: scale(1);
    }
  }
}
